{% extends 'layout.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block main %}
    <h2>Accueil</h2>
    <div id="home">
        {% for image in images  %}
            <figure>
                <h3>{{ image.basicMeta.title }}</h3>
                <a href="{{path('update',{'id' : image.id, 'extension' : image.extension})}}" alt="">
                    <img src="{{ image.path }}" alt="see details" />
                </a>
                <figcaption>
                    author: {{ image.basicMeta.author }}
                </figcaption>
            </figure>
        {% else %}
            <p>Il n'y a pas encore d'images dans la galerie. <a href="{{ path('add') }}">Ajoutez-en une !</a></p>
        {% endfor  %}
    </div>
{% endblock %}
