{% extends 'layout.html.twig' %}

{% block title %}
    Métadonnées - {{ parent() }}
{% endblock %}
{% block meta %}
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@plabadille">
    <meta name="twitter:title" content="{{ image.basicMeta.title }}">
    <meta name="twitter:description" content="{{ image.basicMeta.description }}">
    <meta name="twitter:image" content="{{ image.path }}">
    <meta name="twitter:image:alt" content="{{ image.basicMeta.description }}">

    <!-- Open Graph -->
    {% if image.latestMeta['File:ImageWidth'] is defined and image.latestMeta['File:ImageHeight'] is defined %}
        {% set width = image.latestMeta['File:ImageWidth'] %}
        {% set height = image.latestMeta['File:ImageHeight'] %}
    {% elseif image.latestMeta['Composite:ImageSize'] is defined %}
        {% set width = image.latestMeta['Composite:ImageSize']|split('x')[0] %}
        {% set height = image.latestMeta['Composite:ImageSize']|split('x')[1] %}
    {% else %}
        {% set width = null %}
        {% set height = null %}
    {% endif %}
    <meta property="og:title" content="{{ image.basicMeta.title }}" />
    <meta property="og:image" content="{{ image.path }}" />
    <meta property="og:image:type" content="{{ image.latestMeta['File:MIMEType'] }}" />
    <meta property="og:image:width" content="{{ width }}" />
    <meta property="og:image:height" content="{{ height }}" />
    <meta property="og:description" content="{{ image.basicMeta.description }}" />
{% endblock %}

{% block main %}
    <h2>Métadonnées de l'image</h2>
    <section id="displayImg">
        <h3 class="imgTitle">{{ image.basicMeta.title }}</h3>
        <figure>
            <img src="{{ image.path }}" alt="{{ image.basicMeta.description }}" />
            <figcaption>
                {% if image.latestMeta['XMP:CreatorWorkURL'] is defined %}
                    Author: <a href="{{ image.latestMeta['XMP:CreatorWorkURL'] }}" target="_blank" alt="creator personal website">{{ image.basicMeta.author }}</a> -
                {% else %}
                    Author: {{ image.basicMeta.author }} -
                {% endif %}

                {% if image.latestMeta['XMP:UsageTerms'] is defined %}
                    Licence: {{ image.latestMeta['XMP:UsageTerms'] }}
                {% elseif image.latestMeta['IPTC:CopyrightNotice'] is defined %}
                    Licence: {{ image.latestMeta['IPTC:CopyrightNotice'] }}
                {% else %}
                    Licence: unknown
                {% endif %}
            </figcaption>
        </figure>
        <div id="utilLinks">
            <h3>Utils links:</h3>
            <a href="{{ image.path }}" download>Image download</a>
            <a href="{{ image.xmpPath }}" download>Metadata sidecar XMP download</a>
        </div>
    </section>
    <section id="updateForm">
        {{ form(form) }}
    </section>
{% endblock %}

{% block javascript %}
    <script src="{{ root }}js/meta-form.js"></script>
{% endblock %}
